@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Make the app fill the screen by default */
html, body, #root {
  height: 100%;
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  overflow: hidden; /* Prevent document scroll, we scoll inside the app containers */
}